html	{
	background:#000000;
	}						
body,h1	{
	margin:0;
	
	}
	
h1.tabcont
{
	text-decoration:underline;
}
	
	
#head_container	{
margin: 0 auto;
}
	
#page_title	{
		
		background-color:#770000;
		font:36px impact,sans-serif;
		line-height:1.2;
		text-align:center;
		
					}


#logo	{
position:relative;
	width:80%;
	height:11%;
	margin: 0 auto;
	left:10%;
padding:5% 0;
	
}




.tabcont	{
	font:.9em sans-serif;
	text-align:justify;
	line-height:1.3;

}

	

#body_container	{
	position:relative;
	top:25%;
	padding:5%;
	background-color:#770000;
	margin:5%;
		}
		
		
		
		
.tab01,		
.tab02,
.tab03,
.tab04,
.tab05		
{
	display:none;
}