/*Here goes style for general tags*/
p, td { font-family: "MS Serif", "New York", serif; font-size: 16px; color: #000000; font-weight: normal; }
h1 { font-family: "MS Serif", "New York", serif; font-size: 30px; font-weight: normal; color: #000000;}
h2 { font-family: Arial, Helvetica, sans-serif; font-size: 25px; line-height: 30px; font-weight: normal; color: #000000;}
a:link { text-decoration: none; color: blue; }
a:visited, a:hover { text-decoration: underline; color: #000; }
a:active { text-decoration: none; color: #000; }




/*wraper*/
body { color: #CC6600; margin: 0px; padding: 0px; }
#wrapper { position: relative; width: 900px; height: 1000px; margin: 0px auto 25px auto; border: 1px solid black;  border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; -webkit-border-radius: 10px;}
#whiteback {  position: absolute; background-color: white; width: 900px; height: 1000px; margin: auto; opacity: 0.80; filter: alpha(opacity=85); z-index: -4; border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; -webkit-border-radius: 10px;}
#background { background-image: url("fight2.png"); position: fixed; width: 100%; height: 100%; margin: 0px; padding: 0px; z-index: -5; top: 0px; left: 0px; background-repeat: repeat;}

#headborder {height: 1px; width: 850px; border-bottom: 2px solid rgb(0, 0, 0);  position: absolute;  left: 20px; top: 132px;}

/*Logo*/
#logo {padding: 20px 0px 0px 20px;}

/*Navigation bar*/
#navbar {width: 475px; height: 50px; background-color: rgb(153, 153, 153);border: 1px solid black;border-radius: 5px 5px 5px 5px;position: absolute; top: 40px; left: 375px; z-index: 0; overflow: hidden; overflow-x: hidden; overflow-y: hidden; background-image: url("/_images/nav.jpg"); background-repeat: repeat-x;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.13, #756F75),
	color-stop(0.49, #FFFFFF),
	color-stop(0.85, #706A6A)
);
background-image: -o-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: -moz-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: -webkit-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: -ms-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: linear-gradient(to bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
}

#navbar p { line-height: 20px; font-family: Arial; font-size: 15px; font-weight: bold; margin-left: 70px;}

#navbar #navback {width: 52px;height: 30px;background-color: rgb(102, 102, 102);position: absolute;left: 8px; top: 9px; z-index: -1;border: 1px solid rgb(0, 0, 0);
    border-radius: 3px 3px 3px 3px; background-image: url("navback.jpg");background-repeat: repeat-x;}


/*Slider goes here*/
#mainCont {position: absolute; left: 100px; top: 162px; width: 700px; height: 300px; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(0, 0, 0); overflow: hidden; background: -moz-linear-gradient(center top , rgb(51, 51, 51) 0%, rgb(204, 204, 204) 11%, rgb(204, 204, 204) 89%, rgb(51, 51, 51) 100%) repeat scroll 0% 0% transparent; background-color: transparent; background-image: -moz-linear-gradient(center top , rgb(51, 51, 51) 0%, rgb(204, 204, 204) 11%, rgb(204, 204, 204) 89%, rgb(51, 51, 51) 100%); background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; background-clip: border-box; background-origin: padding-box; background-size: auto auto;}

#leftButton {position: absolute; left: 150px; top: 190px;}

#rightButton {position: absolute; right: 0px; top: 0px;}

/*Content*/
#subCont {width: 350px; border-right: 2px solid #000000; position: absolute; left: 100px; top: 470px; z-index: 1;}

#subCont p {text-align: justify; margin-left: 20px; margin-right: 25px; width: 295px;}

#subCont1 {width: 350px; position: absolute; left: 520px;top: 460px;}

#fees1 {width: 700px; position: absolute; left: 100px; top: 200px; z-index: 1;}

#terms {width: 700px; position: absolute; left: 100px; top: 470px; z-index: 1;}

/*Signup Page*/
#signupCont {
    position: absolute;
    left: 140px;
    top: 180px;
    width: 640px;
    height: 350px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(0, 0, 0);
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.13, #756F75),
	color-stop(0.49, #FFFFFF),
	color-stop(0.85, #706A6A)
);
background-image: -o-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: -moz-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: -webkit-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: -ms-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: linear-gradient(to bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
}

#signupCont #reset {
	position: absolute; left: 125px;
	margin-top: 20px;
    width: 150px;
    height: 50px;
}

#signupCont #register {
	position: absolute; left: 300px;
	margin-top: 20px;
    width: 150px;
    height: 50px;
}



/*Footer*/
#fotter {width: 700px; height: 50px; position: absolute; bottom: 10px; left: 100px; border: 1px solid rgb(0, 0, 0); border-radius: 5px 5px 5px 5px;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.13, #756F75),
	color-stop(0.49, #FFFFFF),
	color-stop(0.85, #706A6A)
);
background-image: -o-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: -moz-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: -webkit-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: -ms-linear-gradient(bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
background-image: linear-gradient(to bottom, #756F75 13%, #FFFFFF 49%, #706A6A 85%);
}

#footter #a:hover {text-decoration: underline; color:gray;}

/*Terminology*/
#terms {position: absolute; left: 100px; top: 162px; width: 700px; height: 800px; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(0, 0, 0); overflow: hidden; background: -moz-linear-gradient(center top , rgb(51, 51, 51) 0%, rgb(204, 204, 204) 11%, rgb(204, 204, 204) 89%, rgb(51, 51, 51) 100%) repeat scroll 0% 0% transparent; background-color: transparent; background-image: -moz-linear-gradient(center top , rgb(51, 51, 51) 0%, rgb(204, 204, 204) 11%, rgb(204, 204, 204) 89%, rgb(51, 51, 51) 100%); background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; background-clip: border-box; background-origin: padding-box; background-size: auto auto;}