/*
V1
Allison Woods
10/30/13	*/
/*	a tweak to overcome Safari's
  problem with multiple adjacent selectors	*/
a.tab05:hover~div#tab05cont	{
visibility:visible;
						}

html	{
	background:#000000; /*url(parch.jpg) repeat-y*/
	}						
body,h1	{
	margin:0;
	
	}


body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from { padding: 0; } to { padding: 0; } }



#head_container	{
	height:80px;
	background-color:#770000;
	position:absolute;
	top:25px;
	right:0;
	bottom:0; 
	left:25px;
	width:499px;
	font:34px impact,sans-serif;
				}



#page_title	{
position:absolute;
width:100%;
left:15px;
line-height:1.2;
			}
	

#body_container	{
	position:absolute;
	top:200px;
	right:0;
	bottom:0;
	left:0;
	padding:10px 0 0 0;

		}



div#body_container>a	{
	display:block;
	padding:8px 0 8px 0;
	width:95px;
	height:36px;
	text-align:center;
	text-decoration:none;
	background:url(button-out.png) no-repeat center;
	outline:none;
	font-weight:bold;
	font-size:0.75em;
	font-family:sans-serif;
	
	color:#c3ab84;
			}			
div#body_container>a:hover	{
	background:url(button-hov.png) no-repeat center;
	}	
div#body_container>a:active,
div#body_container>a:focus	{
	text-decoration:none;
	background:url(button-in.png) no-repeat center;
				} 
				


.tab01,		
.tab02,
.tab03,
.tab04,
.tab05	{
width:100%;
height:100%;
top:-80px;
position:absolute;
		}
.tab01 	{
left:25px;
line-height:2.5;
		}
.tab02 	{
left:126px;
line-height:2.5;
		}
.tab03 	{
left:227px;
line-height:2.5;
		}
.tab04 	{
left:328px;
line-height:2.5;
		}
.tab05 	{
left:429px;
line-height:1.5;
		}

	

.tabcont	{
	position:absolute;
	top:-78px;
	left:25px;
	margin:50px auto 0 0;
	padding:0 50px 0 50px;
	font:.8em sans-serif;
	text-align:justify;
	line-height:1.3;
	background-color:#770000;
	visibility:hidden;
	}
	



	
	
	
h1.tabtitle {
	border-bottom:solid #5e0000 1px;
	padding:20px 20px 0px 20px;
	color:#c3ab84;
	font:bold 1.6em sans-serif;
	overflow:hidden;
}	



#tab01cont	{
	visibility:visible;
	width:524px;
	height:auto;
	color:#c3ab84;
	background:url(boxbg.png);
	background-repeat:repeat-y;
	padding-bottom:50px;
	}
#tab02cont,
#tab03cont,
#tab04cont,
#tab05cont	{
	width:524px;
	height:420px;
	background:url(boxbg.png);
	background-repeat:repeat-y;
	color:#c3ab84;
	overflow:auto;
		}
				
	
.table	{

	position:relative;
	left:0px;
	background:url(boxbg.png);
	background-repeat:repeat-y;
	border-right:solid 0px #770000;
	padding-bottom:solid 2px #5e0000;
	
	width:599px;
	font:1em sans-serif;
	text-align:left;
}

.tableh2	{
		}




tr:hover	{
color:#e1d5c1;
}



			

img#logo	{
	position:absolute;
	top:-150px;
	right:0;
	bottom:0;
	left:549px;
	visibility:visible;
		}
		
		



#contact	{
position:absolute;
top:0;
right:0;
bottom:0;
left:624px;
width:290px;
height:auto;
padding:10px 30px 30px 30px;
color:#c3ab84;
font-weight:bold;
background-color:#770000;
}

#sched_rates	{
width:449px;
padding-right:50px;
				}
				
			
				

	
	
/*
TARGET A SPECIFIC TAB

div#body_container>a.tab01 {
position:absolute;
	}
	*/

	
div.tab:hover	{
	visibility:visible;
			}

a:hover+a+a+a+a+div	{ 
	visibility:visible;
	z-index:1;
			}			
			
a:hover+a+a+a+div+div	{ 
	Visibility:visible;
	z-index:1;
			}
			
			
a:hover+a+a+div+div+div	{
	visibility:visible;
	z-index:1;
			}
a:hover+a+div+div+div+div	{
	visibility:visible;
	z-index:1;
			}
			
			
a:hover+div+div+div+div+div	{
	visibility:visible;
	z-index:1;
			}
			
			
a:active+a+a+a+a+div,
a:active+a+a+a+div+div,
a:active+a+a+div+div+div,
a:active+a+div+div+div+div,
a:active+div+div+div+div+div {
visibility:visible;
}


a:focus+a+a+a+a+div,
a:focus+a+a+a+div+div,
a:focus+a+a+div+div+div,
a:focus+a+div+div+div+div,
a:focus+div+div+div+div+div	{
			visibility:visible;
			}
